<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Facultad de Ingeniería</title>
	<link rel="icon" href="/images/logo.ico">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>

<body>

	<header>
		<div data-th-replace="~{fragments/header::header}"></div>
	</header>
	<div class="row main">
		<h1>
			<span data-th-text="${carrera != null ? 'ALUMNOS DE LA CARRERA ' + carrera.getNombre() :
			 listadoCarreras.size() != 0 ? 'ALUMNOS DE TODAS LAS CARRERAS' : 'NO HAY CARRERAS DISPONIBLES'}"></span>
		</h1>
		<aside class="col-3">
			<div class="bg-light border-right text-center" id="sidebar-wrapper">
				<div class="sidebar-heading pb-2 pt-2 border">LISTA DE CARRERAS</div>
				<div class="list-group list-group-flush border">
					<a class="list-group-item list-group-item-action bg-light link-index"
						href="/alumnosPorCarrera/0">TODAS</a>
					<a class="list-group-item list-group-item-action bg-light link-index"
						data-th-each="c : ${listadoCarreras}" data-th-value="${c.codigo}" data-th-text="${c.nombre}"
						data-th-href="@{'/alumnosPorCarrera/'+${c.codigo}}">
					</a>
				</div>
			</div>
		</aside>
		<section class="col-9">
			<div class="table-responsive">
				<table class="table table-striped table-hover text-center">
					<thead>
						<tr>
							<th scope="col">Libreta Universitaria</th>
							<th scope="col">DNI</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Email</th>
							<th scope="col">Telefono</th>
							<th scope="col">Carrera</th>
							<th scope="col">Materias</th>
						</tr>
					</thead>

					<tbody data-th-if="${carrera == null && listadoAlumnos.size() != 0}">
						<tr data-th-each="alumno : ${listadoAlumnos}" data-th-if="${alumno.carrera != null}">

							<td data-th-text="${alumno.lu}"></td>
							<td data-th-text="${alumno.dni}"></td>
							<td data-th-text="${alumno.nombre}"></td>
							<td data-th-text="${alumno.apellido}"></td>
							<td data-th-text="${alumno.email}"></td>
							<td data-th-text="${alumno.telefono}"></td>
							<td data-th-text="${alumno.carrera != null ? alumno.carrera.nombre : 'Sin Carrera'}"></td>
							<td data-th-text="${alumno.materias != null ? alumno.materias.size() : 'Sin Materias'}"></td>

						</tr>
					</tbody>

					<tbody data-th-if="${carrera != null}">
						<tr data-th-each="alumno : ${carrera.alumnos}">
							<td data-th-text="${alumno.lu}"></td>
							<td data-th-text="${alumno.dni}"></td>
							<td data-th-text="${alumno.nombre}"></td>
							<td data-th-text="${alumno.apellido}"></td>
							<td data-th-text="${alumno.email}"></td>
							<td data-th-text="${alumno.telefono}"></td>
							<td data-th-text="${alumno.carrera != null ? alumno.carrera.nombre : 'Sin Carrera'}"></td>
							<td data-th-text="${alumno.materias != null ? alumno.materias.size() : 'Sin Materias'}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="alert alert-warning text-center " role="alert" data-th-if="${listadoCarreras.size() == 0}">
				<p>No hay carreras disponibles</p>
			</div>

			<br>

		</section>

	</div>


	<footer>
		<div data-th-replace="~{fragments/footer::footer}"></div>
	</footer>

	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>