<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Facultad de Ingeniería</title>
	<link rel="icon" href="/images/logo.ico">
	<link rel="stylesheet" data-th-href="@{/css/styles.css}">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>

<body>
	<header>
		<div data-th-replace="~{fragments/header::header}"></div>
	</header>
	<section class="section">
		<h1>FORMULARIO DE ALUMNO</h1>
		<div class="justify-content-center text-center">

			<form data-th-object="${nuevoAlumno}" data-th-action="${flag}?@{/modificarAlumno}:@{/guardarAlumno}"
				method="post" class="form">
				<div class="row">
					<div class="col-sm-6">
						<label for="dni" class="form-label mt-1">DNI</label>
						<input type="text" class="form-control" id="dni" data-th-field="*{dni}" required>

						<label for="nombre" class="form-label mt-1">Nombre</label>
						<input type="text" class="form-control" id="nombre" data-th-field="*{nombre}" required>

						<label for="apellido" class="form-label mt-1">Apellido</label>
						<input type="text" class="form-control" id="apellido" data-th-field="*{apellido}" required>

						<label for="email" class="form-label mt-1">Email</label>
						<input type="email" class="form-control" id="email" data-th-field="*{email}" required>

					</div>
					<div class="col-sm-6">
						<label for="telefono" class="form-label mt-1">Telefono</label>
						<input type="text" class="form-control" id="telefono" data-th-field="*{telefono}" maxlength="10" minlength="8" required>

						<label for="fechaNacimiento" class="form-label mt-1">Fecha de Nacimiento</label>
						<input type="date" class="form-control" id="fechaNacimiento" data-th-field="*{fechaNacimiento}" required>

						<label for="domicilio" class="form-label mt-1">Domicilio</label>
						<input type="text" class="form-control" id="domicilio" data-th-field="*{domicilio}" required>

						<label for="lu" class="form-label mt-1">Libreta Universitaria</label>
						<input type="text" class="form-control" id="lu" data-th-field="*{lu}" required>
					</div>
				</div>
				<button type="submit" class="btn btn-primary mt-2 mb-3">Guardar Alumno</button>
			</form>
		</div>
		<br>
	</section>
	<footer>
		<div data-th-replace="~{fragments/footer::footer}"></div>
	</footer>

	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>