<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facultad de Ingeniería - Inscripción a Materias</title>
    <link rel="icon" href="/images/logo.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">

</head>
<body>
    <header>
        <div data-th-replace="~{fragments/header::header}"></div>
    </header>
    <section class="section">
        <div class="container">
            <h1 class="text-center mb-4">INSCRIPCIÓN A MATERIAS</h1>
            <form action="/inscripcionMaterias" method="post" data-th-action="@{/guardarInscripcion}">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <label for="lu" class="form-label mt-1">Libreta Universitaria</label>
                        <select class="form-select" id="alumnoId" name="alumnoId">
                            <option data-th-each="alumno : ${listadoAlumnos}" data-th-value="${alumno.lu}" data-th-text="${alumno.lu + ' - ' + alumno.apellido + ', ' + alumno.nombre}"></option>
                        </select>
                        <br>
                        <label for="materias" class="form-label mt-1">Materias Disponibles</label>
                        <select class="form-select" id="materiaId" name="materiaId">
                            <option data-th-each="materia : ${listaDeMaterias}" data-th-value="${materia.codigo}" data-th-text="${materia.nombre}"></option>
                        </select>
                    </div>
                </div>
                <div  data-th-if="${listaDeMaterias != null and !listaDeMaterias.isEmpty()}" >

              		<button type="submit" class="btn btn-primary mt-2 mb-3" >Inscribir Materia</button>
              		<br>
              	</div>
              	<br>
              	<div data-th-if="${Band==3}" class="alert alert-success text-center" role="alert">
    				<p class=" "data-th-text="${Mensaje}"></p>
				</div>
              	<div data-th-if="${Band==2}" class="alert alert-warning text-center" role="alert">
    				<p class=" "data-th-text="${Mensaje}"></p>
				</div>
				<div data-th-if="${Band==1}" class="alert alert-danger text-center" role="alert">
    				<p class=" "data-th-text="${Mensaje}"></p>
				</div>
              	<div class="alert alert-danger text-center " role="alert" data-th-if="${listaDeMaterias == null or listaDeMaterias.size() == 0}">
              		<br>
		  			<p >AHORA NO HAY MATERIAS DISPONIBLES</p>
				</div>

            </form>
        </div>
    </section>
    
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>