<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Facultad de Ingeniería</title>
	<link rel="icon" href="/images/logo.ico">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>

<body>

	<header>
		<div data-th-replace="~{fragments/header::header}"></div>
	</header>
	<section class="section">
		<h1> LISTADO DE CARRERAS </h1>
		<table class="table table-striped text-center">
			<thead>
				<tr>
 					<th scope="col">Codigo</th> 
					<th scope="col">Nombre</th>
					<th scope="col">Cantidad de Años</th>
					<th scope="col">Cantidad de Alumnos</th>
					<th scope="col">Cantidad de Materias</th>
<!-- 					<th scope="col">Estado</th> -->
					<th scope="col">Edición</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="carrera : ${listadoCarreras}">
				 	<td data-th-text="${carrera.codigo}"></td> 
					<td data-th-text="${carrera.nombre}"></td>
					<td data-th-text="${carrera.duracion}"></td>
					<td data-th-text="${carrera.alumnos.size()}"></td>				
					<td data-th-text="${carrera.materias.size()}"></td>
<!-- 					<td data-th-text="${carrera.estado}"></td> -->
					<td>
						<a data-th-href="@{'/borrarCarrera/'+${carrera.codigo}}" class="btn btn-danger">Borrar</a>
						<a data-th-href="@{'/modificarCarrera/'+${carrera.codigo}}"
							class="btn btn-warning">Modificar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="alert alert-danger d-flex align-items-center" role="alert" data-th-if=${errors}>
		  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		  <div data-th-text="${cargaCarreraErrorMessage}"></div>
		</div>	
		<br>
	</section>
	<footer>
		<div data-th-replace="~{fragments/footer::footer}"></div>
	</footer>

	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>